@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&family=Roboto:wght@100;300&family=Teko:wght@600&display=swap@?family=VT323&display=swap");
.remove, body .bloque-carrito .carrito .contenido-carrito .carrito-item .remove-item, body .pago .detalleCompra .conjuntoProd .cant-producto .remove-item {
  color: #5c5a5a;
  padding: 2px;
  cursor: pointer;
  font-size: 0.85rem;
  font-family: "Roboto", sans-serif;
  font-weight: bold; }
  .remove:hover, body .bloque-carrito .carrito .contenido-carrito .carrito-item .remove-item:hover, body .pago .detalleCompra .conjuntoProd .cant-producto .remove-item:hover {
    font-weight: bold;
    background: rgba(255, 0, 0, 0.404);
    color: #000;
    padding: 2px;
    border-radius: 5px; }

.flechas, body .bloque-carrito .carrito .contenido-carrito .carrito-item .fa-chevron-up,
body .bloque-carrito .carrito .contenido-carrito .carrito-item .fa-chevron-down, body .pago .detalleCompra .conjuntoProd .cant-producto .modifProd .fa-chevron-up,
body .pago .detalleCompra .conjuntoProd .cant-producto .modifProd .fa-chevron-down {
  color: #1a1d36;
  cursor: pointer;
  padding: 3px; }
  .flechas:hover, body .bloque-carrito .carrito .contenido-carrito .carrito-item .fa-chevron-up:hover,
  body .bloque-carrito .carrito .contenido-carrito .carrito-item .fa-chevron-down:hover, body .pago .detalleCompra .conjuntoProd .cant-producto .modifProd .fa-chevron-up:hover,
  body .pago .detalleCompra .conjuntoProd .cant-producto .modifProd .fa-chevron-down:hover {
    border-radius: 50%;
    padding: 3px; }

.btn, body .bloque-carrito .carrito .carrito-footer .footer-btn, body .pago .footer-detalle .seguirComprando .btn-detalle, body .pago .footer-detalle .termCompra .btn-compra, body .pago .btn-finalizar .footer-btn {
  font-size: 1rem;
  background-color: #1a1d36;
  border: 1px solid #1a1d36;
  color: #fff;
  transition: all 0.3s linear;
  cursor: pointer; }
  .btn:hover, body .bloque-carrito .carrito .carrito-footer .footer-btn:hover, body .pago .footer-detalle .seguirComprando .btn-detalle:hover, body .pago .footer-detalle .termCompra .btn-compra:hover, body .pago .btn-finalizar .footer-btn:hover {
    background: #aaa492;
    color: #000; }
  .btn a, body .bloque-carrito .carrito .carrito-footer .footer-btn a, body .pago .footer-detalle .seguirComprando .btn-detalle a, body .pago .footer-detalle .termCompra .btn-compra a, body .pago .btn-finalizar .footer-btn a {
    text-decoration: none;
    color: #fff; }
    .btn a:hover, body .bloque-carrito .carrito .carrito-footer .footer-btn a:hover, body .pago .footer-detalle .seguirComprando .btn-detalle a:hover, body .pago .footer-detalle .termCompra .btn-compra a:hover, body .pago .btn-finalizar .footer-btn a:hover {
      color: #000; }

.icon, body .navbar .navbar-center .cart-btn .nav-icon .fa-shopping-cart, body .navbar .navbar-center .cart-btn .nav-icon .fa-hand-holding-dollar {
  margin-right: 15px;
  font-size: 2rem;
  display: flex;
  justify-content: end; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth; }

body {
  height: 100vh; }

/* Navbar */
body .navbar {
  background: #1a1d36;
  position: sticky;
  top: 0;
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  z-index: 1; }
  body .navbar .navbar-center {
    width: 100%;
    max-width: 1720px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    body .navbar .navbar-center .reloj-icon {
      width: 30%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color: #fff;
      padding: 20px 10px; }
      body .navbar .navbar-center .reloj-icon .reloj {
        font-family: "VT323", monospace; }
      body .navbar .navbar-center .reloj-icon .fecha {
        font-family: "VT323", monospace; }
    body .navbar .navbar-center a {
      text-decoration: none;
      width: 52%; }
      body .navbar .navbar-center a h1 {
        color: #fff;
        font-size: 5rem;
        font-family: "Teko", sans-serif;
        text-align: center;
        padding-top: 10px; }
        body .navbar .navbar-center a h1 .bandera {
          color: #86c6f4; }
    body .navbar .navbar-center .cart-btn {
      position: relative;
      width: 28%;
      padding: 10px;
      cursor: pointer;
      margin-right: 10px; }
      body .navbar .navbar-center .cart-btn .nav-icon .fa-shopping-cart {
        color: #ffab4c; }
      body .navbar .navbar-center .cart-btn .nav-icon .fa-hand-holding-dollar {
        color: #8b9a46; }
      body .navbar .navbar-center .cart-btn .cart-items {
        position: absolute;
        top: 0;
        right: 5px;
        background: #fff;
        padding: 0 5px;
        border-radius: 30%;
        color: #000;
        font-weight: bold; }

/* Scroll Up */
.up {
  position: fixed;
  bottom: 45px;
  right: -70px;
  cursor: pointer;
  transition: all 0.3s ease-out; }
  .up i {
    font-size: 35px;
    color: rgba(0, 0, 0, 0.212);
    transition: all 0.5; }
    .up i:hover {
      transform: scale(1.2);
      transition: all 0.5s;
      color: #000; }
  .up.show {
    right: 5px; }

/* Inicio */
body .inicio {
  min-height: calc(100vh - 70px);
  background: url("../img/fondo-index.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center; }
  body .inicio .banner {
    text-align: center;
    background: rgba(255, 255, 255, 0.8);
    display: inline-block;
    padding: 2rem 4rem; }
    body .inicio .banner .banner-title {
      font-size: 4rem;
      font-family: "Nunito Sans", sans-serif;
      letter-spacing: 0.1rem;
      margin-bottom: 2rem; }
    body .inicio .banner .banner-btn {
      padding: 1rem 3rem;
      background-color: #1a1d36;
      border: 1px solid #1a1d36;
      transition: all 0.3s linear;
      cursor: pointer; }
      body .inicio .banner .banner-btn a {
        text-transform: uppercase;
        letter-spacing: 0.1rem;
        font-size: 1.2rem;
        font-family: "Nunito Sans", sans-serif;
        text-decoration: none;
        color: #fff; }
        body .inicio .banner .banner-btn a:hover {
          color: #000;
          font-weight: bold; }
      body .inicio .banner .banner-btn:hover {
        background: transparent;
        color: #000;
        background: #aaa492; }

/* Card Productos */
body .productos {
  padding: 3rem 0; }
  body .productos .titulo-prod h2 {
    text-align: center;
    font-size: 4rem;
    font-family: "Teko", sans-serif;
    letter-spacing: 1rem; }
  body .productos .card-prod {
    width: 90vw;
    margin: 0 auto;
    max-width: 1170px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    column-gap: 2rem;
    row-gap: 2rem; }
    body .productos .card-prod .prod {
      padding: 20px 0;
      border-radius: 10px;
      box-shadow: 2px 4px 10px #000; }
      body .productos .card-prod .prod:hover {
        transform: scale(1.05);
        transition: all 0.4s linear; }
      body .productos .card-prod .prod .img-contenedor {
        position: relative;
        overflow: hidden;
        height: 300px;
        display: flex;
        align-items: center; }
        body .productos .card-prod .prod .img-contenedor .prod-img {
          display: block;
          width: 100%;
          height: 100%;
          min-height: 12rem;
          transition: all 0.3s linear;
          padding: 10px; }
        body .productos .card-prod .prod .img-contenedor:hover .prod-img {
          opacity: 0.5; }
        body .productos .card-prod .prod .img-contenedor .bag-btn {
          position: absolute;
          top: 70%;
          right: 0;
          background: #1a1d36;
          color: #fff;
          border: none;
          padding: 0.5rem 0.75rem;
          font-weight: bold;
          font-family: "Nunito Sans", sans-serif;
          font-size: 0.8rem;
          letter-spacing: 0.1rem;
          transition: all 0.3s linear;
          transform: translateX(101%);
          cursor: pointer; }
          body .productos .card-prod .prod .img-contenedor .bag-btn:hover {
            border: solid 1px #1a1d36;
            background: #fff;
            color: #1a1d36; }
          body .productos .card-prod .prod .img-contenedor .bag-btn .fa-hand-holding-dollar {
            margin-right: 0.5rem; }
        body .productos .card-prod .prod .img-contenedor:hover .bag-btn {
          transform: translateX(0); }
      body .productos .card-prod .prod .tit-contenedor {
        height: 130px;
        display: flex;
        flex-direction: column; }
        body .productos .card-prod .prod .tit-contenedor h3 {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          text-transform: capitalize;
          font-size: 1.5rem;
          font-family: "Roboto", sans-serif;
          margin-top: 1rem;
          padding: 10px;
          letter-spacing: 0.1rem;
          text-align: center;
          color: #125c13; }
        body .productos .card-prod .prod .tit-contenedor h4 {
          width: 100%;
          margin-top: 0.7rem;
          letter-spacing: 0.1rem;
          text-align: center;
          color: #000;
          font-size: 1.3rem;
          font-family: "Roboto", sans-serif;
          font-weight: bold; }

/* Filtro */
body .productos .filter {
  width: 100%;
  text-align: center; }
  body .productos .filter .category {
    margin: 1rem 0 3rem 0; }
    body .productos .filter .category #category {
      border-radius: 10px;
      box-shadow: 2px 4px 10px #000;
      width: 30%;
      height: 25px;
      text-align: center; }

/* Carrito */
body .bloque-carrito {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  transition: all 0.3s linear;
  background: rgba(240, 157, 80, 0.5);
  z-index: 2;
  visibility: hidden; }
  body .bloque-carrito .carrito {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: scroll;
    overflow-x: hidden;
    background: #fff;
    z-index: 3;
    background: #e7e2dd;
    padding: 1.5rem;
    transition: all 0.3s linear;
    transform: translateX(100%);
    /* footer cart */ }
    body .bloque-carrito .carrito .fin-carrito {
      font-size: 1.7rem;
      cursor: pointer; }
    body .bloque-carrito .carrito h2 {
      font-size: 2rem;
      font-family: "Nunito Sans", sans-serif;
      text-align: center;
      margin-bottom: 2rem; }
    body .bloque-carrito .carrito .carrito-vacio {
      font-size: 1.7rem;
      font-family: "Nunito Sans", sans-serif;
      text-align: center; }
    body .bloque-carrito .carrito .contenido-carrito .carrito-vacio {
      font-size: 2rem;
      font-family: "Roboto", sans-serif;
      text-align: center; }
    body .bloque-carrito .carrito .contenido-carrito .carrito-item {
      display: grid;
      align-items: center;
      grid-template-columns: auto 1fr auto;
      column-gap: 1.5rem;
      margin: 1.5rem 0; }
      body .bloque-carrito .carrito .contenido-carrito .carrito-item img {
        width: 75px;
        height: 75px; }
      body .bloque-carrito .carrito .contenido-carrito .carrito-item h4 {
        font-size: 0.95rem;
        font-family: "Roboto", sans-serif;
        text-transform: capitalize; }
      body .bloque-carrito .carrito .contenido-carrito .carrito-item h5 {
        padding: 2px 0;
        font-size: 0.95rem; }
      body .bloque-carrito .carrito .contenido-carrito .carrito-item .fa-chevron-up:hover {
        background: rgba(0, 128, 0, 0.3); }
      body .bloque-carrito .carrito .contenido-carrito .carrito-item .fa-chevron-down:hover {
        background: rgba(255, 0, 0, 0.3); }
      body .bloque-carrito .carrito .contenido-carrito .carrito-item .cant-item {
        text-align: center;
        font-size: 1.2rem; }
    body .bloque-carrito .carrito .carrito-footer {
      margin-top: 2rem;
      text-align: center; }
      body .bloque-carrito .carrito .carrito-footer h3 {
        margin-bottom: 1rem;
        font-family: "Nunito Sans", sans-serif;
        font-size: 1.7rem; }
      body .bloque-carrito .carrito .carrito-footer .footer-btn {
        padding: 1rem; }
    body .bloque-carrito .carrito .oculto {
      display: none; }
  body .bloque-carrito .showCart {
    transform: translateX(0); }

body .transparenteBcg {
  visibility: visible; }

/*PAGOS*/
body .pago h2 {
  font-size: 4rem;
  font-family: "Teko", sans-serif;
  text-align: center;
  padding: 15px 0; }

body .pago .detalle {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; }
  body .pago .detalle .titulo-detalle {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    width: 100%; }
    body .pago .detalle .titulo-detalle h3 {
      padding: 10px 0;
      border: #000 1px solid;
      font-size: 1.4rem;
      font-family: "Nunito Sans", sans-serif; }

body .pago .detalleCompra {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  text-align: center;
  width: 100%; }
  body .pago .detalleCompra .conjuntoProd {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
    padding: 10px 0;
    border: #000 1px solid; }
    body .pago .detalleCompra .conjuntoProd .img-producto img {
      width: 70px; }
    body .pago .detalleCompra .conjuntoProd .cant-producto .modifProd {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin: 5px 0; }
      body .pago .detalleCompra .conjuntoProd .cant-producto .modifProd .cant-item {
        padding: 0 10px; }
      body .pago .detalleCompra .conjuntoProd .cant-producto .modifProd .fa-chevron-up,
      body .pago .detalleCompra .conjuntoProd .cant-producto .modifProd .fa-chevron-down {
        padding: 3px; }
      body .pago .detalleCompra .conjuntoProd .cant-producto .modifProd .fa-chevron-up:hover {
        background: rgba(0, 128, 0, 0.3); }
      body .pago .detalleCompra .conjuntoProd .cant-producto .modifProd .fa-chevron-down:hover {
        background: rgba(255, 0, 0, 0.3); }
    body .pago .detalleCompra .conjuntoProd h4 {
      font-size: 1.2rem;
      font-family: "Roboto", sans-serif; }

body .pago .footer-detalle {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  border: #000 1px solid;
  margin: 20px 0; }
  body .pago .footer-detalle .seguirComprando {
    width: 15%;
    justify-content: center;
    text-align: center; }
    body .pago .footer-detalle .seguirComprando .btn-detalle {
      width: 85%;
      padding: 10px;
      margin: 5px; }
  body .pago .footer-detalle .termCompra {
    width: 50%;
    padding: 5px 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center; }
    body .pago .footer-detalle .termCompra .btn-compra {
      width: 50%;
      padding: 10px;
      margin: 5px; }
  body .pago .footer-detalle .medioPago {
    width: 50%;
    padding: 5px 10px;
    border-left: #000 1px solid;
    display: flex;
    flex-flow: row wrap;
    align-items: center; }
    body .pago .footer-detalle .medioPago .tipoPago {
      width: 25%; }
      body .pago .footer-detalle .medioPago .tipoPago div {
        padding: 5px; }
        body .pago .footer-detalle .medioPago .tipoPago div label {
          font-family: "Teko", sans-serif;
          letter-spacing: 0.1rem;
          font-size: 1rem; }
    body .pago .footer-detalle .medioPago .mjsDescuento {
      width: 75%;
      box-shadow: 2px 4px 10px #000; }
      body .pago .footer-detalle .medioPago .mjsDescuento p {
        padding: 5px;
        border: #000 1px solid;
        text-align: center;
        font-size: 1.8rem;
        font-family: "Roboto", sans-serif; }
  body .pago .footer-detalle .resumen {
    width: 35%;
    display: flex;
    flex-direction: column;
    padding: 5px; }
    body .pago .footer-detalle .resumen .detalleResumen {
      width: 100%;
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      text-align: center;
      border-left: #000 1px solid;
      padding: 3px; }
      body .pago .footer-detalle .resumen .detalleResumen h4 {
        width: 50%;
        font-size: 1.2rem;
        font-family: "Roboto", sans-serif; }
      body .pago .footer-detalle .resumen .detalleResumen .refDetalle {
        width: 50%;
        font-size: 1.2rem; }
      body .pago .footer-detalle .resumen .detalleResumen .descuento {
        font-weight: bold; }
  body .pago .footer-detalle .oculto {
    display: none; }

body .pago .btn-finalizar {
  text-align: center; }
  body .pago .btn-finalizar .footer-btn {
    width: 25%;
    padding: 10px 25px;
    margin: 10px; }

body .pago .oculto {
  display: none; }

/*FOOTER*/
body footer {
  margin-top: 10px; }
  body footer p {
    background-color: #000;
    color: #fff;
    font-size: 1.1rem;
    text-align: center;
    padding: 5px 0; }

@media screen and (max-width: 560px) {
  body .navbar .navbar-center {
    justify-content: space-between;
    padding: 0 5px; }
    body .navbar .navbar-center .reloj-icon {
      width: 20%;
      padding: 0;
      align-items: flex-start; }
      body .navbar .navbar-center .reloj-icon .reloj, body .navbar .navbar-center .reloj-icon .fecha {
        font-size: 0.8rem;
        margin: 0; }
    body .navbar .navbar-center a h1 {
      font-size: 3.6rem; }
    body .navbar .navbar-center .cart-btn {
      width: 20%; }
  body .inicio .banner {
    padding: 2rem 3rem; }
    body .inicio .banner .banner-title {
      font-size: 2.5rem; }
    body .inicio .banner .banner-btn a {
      font-size: 1rem; }
  body .productos .titulo-prod h2 {
    font-size: 2rem; }
  body .productos .card-prod {
    width: 100%; }
    body .productos .card-prod .prod {
      width: 80%;
      margin: auto; }
      body .productos .card-prod .prod .tit-contenedor h3 {
        font-size: 1.3rem; }
  body .productos .filter .category #category {
    width: 80%; }
  body .bloque-carrito .carrito .contenido-carrito .carrito-item {
    column-gap: 0.85rem; }
    body .bloque-carrito .carrito .contenido-carrito .carrito-item h4 {
      font-size: 0.9rem; }
    body .bloque-carrito .carrito .contenido-carrito .carrito-item h5 {
      font-size: 0.95rem; }
  body .bloque-carrito .carrito .carrito-footer h3 {
    font-size: "Roboto", sans-serif; }
  body .pago .detalle .titulo-detalle h3 {
    font-size: 1rem;
    padding: 10px 5px; }
  body .pago .detalleCompra .conjuntoProd .img-producto img {
    padding: 0 2px; }
  body .pago .detalleCompra .conjuntoProd .cant-producto .modifProd .cant-item {
    padding: 0 2px; }
  body .pago .detalleCompra .conjuntoProd .cant-producto .fa-chevron-up,
  body .pago .detalleCompra .conjuntoProd .cant-producto .fa-chevron-down {
    padding: 0; }
  body .pago .detalleCompra .conjuntoProd h4 {
    font-size: 0.85rem; }
  body .pago .footer-detalle {
    flex-flow: column wrap; }
    body .pago .footer-detalle .seguirComprando {
      width: 70%;
      margin: 10px; }
    body .pago .footer-detalle .termCompra {
      width: 65%; }
      body .pago .footer-detalle .termCompra .btn-compra {
        width: 100%; }
    body .pago .footer-detalle .medioPago {
      width: 100%;
      flex-flow: column wrap;
      border-left: none; }
      body .pago .footer-detalle .medioPago .tipoPago {
        width: 100%;
        display: flex;
        justify-content: space-around;
        text-align: center;
        margin-bottom: 10px; }
        body .pago .footer-detalle .medioPago .tipoPago div {
          display: flex;
          flex-direction: column; }
          body .pago .footer-detalle .medioPago .tipoPago div input {
            margin: auto; }
          body .pago .footer-detalle .medioPago .tipoPago div label {
            font-size: 1.2rem; }
      body .pago .footer-detalle .medioPago .mjsDescuento {
        width: 100%; }
        body .pago .footer-detalle .medioPago .mjsDescuento p {
          font-size: 1.5rem; }
    body .pago .footer-detalle .resumen {
      width: 100%;
      border-top: 1px solid #000;
      margin-top: 10px;
      padding: 20px 0; }
      body .pago .footer-detalle .resumen .detalleResumen {
        padding: 5px 0;
        border-left: none;
        justify-content: space-around; }
  body .pago .btn-finalizar .footer-btn {
    width: 70%;
    margin: 5px; } }

@media screen and (min-width: 561px) {
  body .navbar .navbar-center {
    padding: 0 5px; }
    body .navbar .navbar-center .reloj-icon {
      width: 20%;
      padding: 0; }
      body .navbar .navbar-center .reloj-icon .reloj, body .navbar .navbar-center .reloj-icon .fecha {
        font-size: 0.85rem;
        margin: 0; }
    body .navbar .navbar-center a h1 {
      font-size: 3.7rem; }
    body .navbar .navbar-center .cart-btn {
      width: 20%; }
  body .productos .titulo-prod h2 {
    font-size: 3.2rem; }
  body .productos .card-prod {
    width: 100%;
    display: flex;
    flex-flow: row wrap; }
    body .productos .card-prod .prod {
      width: 360px;
      margin: auto; }
      body .productos .card-prod .prod .tit-contenedor h3 {
        font-size: 1.3rem; } }

@media screen and (min-width: 768px) {
  body .navbar .navbar-center {
    padding: 0 5px; }
    body .navbar .navbar-center .reloj-icon {
      width: 20%;
      padding: 0; }
      body .navbar .navbar-center .reloj-icon .reloj, body .navbar .navbar-center .reloj-icon .fecha {
        font-size: 1.05rem;
        margin: 5px; }
  body .bloque-carrito .carrito {
    width: 30vw;
    min-width: 450px; } }
