/* Filtro */
body{
    .filter {
        width: 100%;
        text-align: center;
        .category {
            margin: 3rem 0;

            #category {
                width: 30vw;
                height: 25px;
                text-align: center;
              }
        }
      }
}
  
  