/* Navbar */
body {
  .navbar {
    background: $navy;
    position: sticky;
    top: 0;
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    z-index: 1;
    .navbar-center {
      width: 100%;
      max-width: 1720px;
      height: 100%;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .reloj-icon{
        width: 30%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: $white;
        padding: 20px 10px;
        .reloj{
          font-family: $reloj;

        }
        .fecha{
          font-family: $reloj;
        }
      }
      a{
        text-decoration: none;
        width: 52%;
        h1 {
          color: $white;
          font-size: $principal + 1;
          font-family: $titulos;
          text-align: center;
          padding-top: 10px;
          .bandera {
            color: #86c6f4;
          }
        }
      }
      .cart-btn {
        position: relative;
        width: 28%;
        padding: 10px;
        cursor: pointer;
        margin-right: 10px;
        .nav-icon {
          .fa-shopping-cart {
            @extend .icon;
            color: $orange;
          }
          .fa-hand-holding-dollar {
            @extend .icon;
            color: #8b9a46;
          }
        }
        .cart-items {
          position: absolute;
          top: 0;
          right: 5px;
          background: $white;
          padding: 0 5px;
          border-radius: 30%;
          color: $black;
          font-weight: bold;
        }
      }
    }
  }
}
