// Colores
$navy: #1a1d36;
$white: #fff;
$black: #000;
$orange: #ffab4c;

// Tipografía
$titulos: "Teko", sans-serif;
$titSecundario: "Nunito Sans", sans-serif;
$contenido: "Roboto", sans-serif;
$reloj: 'VT323', monospace;

// Tamaño
$principal: 4rem;
$secundario: 2rem;
$textContenido: 1.2rem;


