/* Scroll Up */
.up {
  position: fixed;
  bottom: 45px;
  right: -70px;
  cursor: pointer;
  transition: all 0.3s ease-out;
  i {
    font-size: 35px;
    color: rgba(0, 0, 0, 0.212);
    transition: all 0.5;
    &:hover {
      transform: scale(1.2);
      transition: all 0.5s;
      color: #000;
    }
  }
  &.show {
    right: 5px;
  }
}
